@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif !important;
    color: var(--cor-1);
}

body {
    background-color: var(--cor-2) !important;
    user-select: none;
}

#root {
}