.counter-cells-page {
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.counter-cells-page > div {
    padding: 1.5rem;
}

.counter-cells-page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-3);
    width: 100%;
}

.header__cam-icon svg {
    font-size: 2.5rem;
}

.counter-cells-page__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.actions__inputs {
    display: flex;
    gap: 1rem;
}

.header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.counter-cells-page__data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.counter-cells-page__data .data_cam-image {
    width: 49%;
    height: 30rem;

}

.counter-cells-page__data .data_table {
    width: 49%;
    height: 30rem;
}